.App {
  text-align: center;
}

.ClickIcons {
  position: fixed;
  }
.App-header {
  background-color: white;
  min-height: 100vh;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-header p {
  margin-block-start: 0;
}
.App-header a {
  font-size: 60px;
  color :#282c34;
  display: flex;
  /* float: left; */
}


