.App {
  /* text-align: center; */
  background-color: #DCDCDC;
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  
  /* background-color: deepskyblue; */
}

.main-container {
  background-color: white;
  /* color: skyblue; */
  border:10px solid black;
  height: 550px;
  width: 1000px;
  border-radius: 25px;
  margin: auto;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.backGroundLayer {
  background-color: deepskyblue;
  border-right: 10px;
  width: 30%;
  right: 0%;
  position: absolute;
  height: 100%;
  opacity: 0.75;
}

.App-header {
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
}


.ClickIcons {
  color :#282c34;
  margin-block-start: 0;
  font-size: 45px;  
  display: flex;
  flex-direction: column;
  top: 67%;
  position: fixed;  
}
  
.ClickIcons a {
    color :#282c34;
    line-height: 1rem;
}

.container {
  display: flex;
  height: 400px;
  width: 950px;
  margin-left: 25px;
}

.about-container {
  display: flex;
  height: 400px;
  width: 950px;
  margin-left: 25px;
}

.img {
  float: right;
}
p {
  text-indent: 15%;
  text-align: justify;
  letter-spacing: 1px;
  margin-right: 70px;
  margin-left: 15px;
}


.background-image {
  width: 500px;
  height: 390px;
  margin-right: 20px;
}

.menu{
  display: flex;
  justify-content: space-around;
  width: 282px;
}

.menu a{
  text-decoration-line: none;
  color: black;
}

.page{
  margin-left: 12%;
  margin-right: 21%;
  display: flex;
}

.menu:hover {
  color: green;
  background-color: transparent;
}